
/* Your CSS Code here. */
main.accio#job {
      width: 150px;
      height: 150px;
      background-color: #000000;
    }

    /* Styling the paragraph */
    p.hello-accio {
      color: #ffffff;
      margin-left: 32px;
      padding: 10px;